.event {
  width: 32%;
  margin-right: 1%;
  float: left;
  background-color: #fff;
  padding: 10px;
  
}
.event .heading {
  border-bottom: 1px solid #46b7c1;
  padding: 5px;
  color: #fff;
  background: #46b7c1;
  text-align: center;
}
.event ul li {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  list-style: none;
}
.event-date {
  background: #46b7c1;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 8px 12px;
  margin-right: 10px;
}

.headingevent {
  border-bottom: 1px solid #46b7c1;
  padding: 5px;
  color: #fff;
  background: #46b7c1;
  text-align: center;
  
}